<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Aprendices</title>
</head>
<body>

<h1>Listado de Aprendices</h1>

<table>
    <thead>
        <tr>
            <th>ID Aprendiz</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Programa de Formación</th>
        </tr>
    </thead>
    <tbody>
        {% for aprendiz in aprendices %}
            <tr>
                <td>{{ aprendiz.ID_aprendiz }}</td>
                <td>{{ aprendiz.nombre }}</td>
                <td>{{ aprendiz.apellido }}</td>
                <td>{{ aprendiz.Programa_formacion }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
